In [66]:
import numpy as np
import pandas as pd
from unidecode import unidecode

In [67]:
userdataoriginal = pd.read_excel('userdata.xlsx')
chamadosregistro = pd.read_excel('chamados.xlsx')
emzimbra = pd.read_excel('emailszimbra.xlsx')
userdata = userdataoriginal
userdata=userdata.fillna(' ')
chamadosregistro.head(2)

Empty DataFrame
Columns: []
Index: []

In [68]:
userdata.head(1)

,matricula,nome,cargo,funcao,lotacao,situacao
0,98333,ABDORAL MARTINS FILHO,OFICIAL DE JUSTIÇA AVALIADOR,,1º GRAU - 1ª INSTÂNCIA - 2ª ENTRÂNCIA - COMARC...,ESTATUTÁRIO

In [69]:
emzimbra.head(2)

,Email Zimbra,Status,Criação,Último logon,Descrição,Email,Alias1,Alias2,Alias3,Alias4
0,1acamaracivelvideo@tjto.jus.br,active,2020-10-07 00:00:00,20220802163301.,1ª Câmara Cível,1acamaracivelvideo@tjto.jus.br,NaN,NaN,NaN,NaN
1,1acamaracriminal@tjto.jus.br,active,06/17/20,20220801162946.,1ª Câmara Criminal .,1acamaracriminal@tjto.jus.br,NaN,NaN,NaN,NaN

In [70]:
desc = emzimbra['Descrição']
formateddesc = desc
for i in range(len(desc)):
    if type(desc[i])==str:
        formateddesc[i]  =  unidecode(desc[i])
        formateddesc[i] = formateddesc[i].lower()
        emzimbra['Descrição'][i] = formateddesc[i]
emzimbra.head()

,Email Zimbra,Status,Criação,Último logon,Descrição,Email,Alias1,Alias2,Alias3,Alias4
0,1acamaracivelvideo@tjto.jus.br,active,2020-10-07 00:00:00,20220802163301.,1a camara civel,1acamaracivelvideo@tjto.jus.br,NaN,NaN,NaN,NaN
1,1acamaracriminal@tjto.jus.br,active,06/17/20,20220801162946.,1a camara criminal .,1acamaracriminal@tjto.jus.br,NaN,NaN,NaN,NaN
2,1camaracriminal@tjto.jus.br,active,04/28/20,20220721182848.,1a camara criminal,1camaracriminal@tjto.jus.br,NaN,NaN,NaN,NaN
3,1juizadoespecial@tjto.jus.br,active,2018-08-03 00:00:00,20220525191224.,1o juizado especial de palmas,1juizadoespecial@tjto.jus.br,jecivpalmas@tjto.jus.br,NaN,NaN,NaN
4,1juizadofazendapalmas@tjto.jus.br,active,03/22/21,never,juizado da fazenda de palmas,1juizadofazendapalmas@tjto.jus.br,NaN,NaN,NaN,NaN

In [71]:
ncham = 'R54324'
migrar = 'Não'
descham = 'Criação de email'
matricula = 991021
efetivado = 'Não'
observacoes = ' '

In [72]:

res = userdata[userdata['matricula']==matricula]
res = res.reset_index()
res = res.drop(['index'],axis=1)
res

,matricula,nome,cargo,funcao,lotacao,situacao
0,991021,PALLOMA PEREIRA CAVALCANTE,,,2º GRAU - CORREGEDORIA-GERAL DA JUSTIÇA - ÓRGÃ...,CEDIDO AO TJTO

In [73]:
nome = res['nome'][0]
nome = nome.split()
sobrenome = nome[1:]
sobrenome =  ' '.join(nome[1:])
sobrenome

'PEREIRA CAVALCANTE'

In [74]:
empdr = nome[0]+'.'+nome[-1]+'@tjto.jus.br'
empdr = empdr.lower()
empdr = unidecode(empdr)
empdr

'palloma.cavalcante@tjto.jus.br'

In [75]:
lotacao = res['lotacao'][0]
lotacao = lotacao.split('-')
lotacao[-1]
lotacao[-2]

' GABINETE DO(A) JUIZ(A) AUXILIAR DA CORREGEDORIA SUPERVISOR(A) DOS SERVIÇOS NOTARIAIS E DE REGISTRO DO ESTADO DO TOCANTINS '

In [76]:
cargo = ' '
funcao = ' '
if res['cargo'][0]!=' ': cargo =  res['cargo'][0]
if res['funcao'][0]!=' ': funcao = res['funcao'][0]
if cargo==' ' : 
    cargo = funcao
    funcao = ' '
if(cargo!=' ' and funcao!=' '): cargo = cargo+'-'+funcao
cargo

' '

In [77]:
emzimbrares = ' '
desc = emzimbra['Descrição']
for i in range(len(desc)):
    if type(desc[i])==str:
        if res['nome'][0].lower() in desc[i].lower():
            emzimbrares = emzimbra.iloc[i]
emzimbrares

' '

In [78]:
ln = {
    'Nome Completo':res['nome'],
    'Nome':nome[0],
    'Sobrenome':sobrenome,
    'UO':lotacao[-2],
    'Matrícula':res['matricula'],
    'Lotação':lotacao[-1],
    'Cargo':cargo,
    'Email zimbra':emzimbrares[0],
    'Email Workspace':empdr,
    'Alias Workspace':emzimbrares[0],
    'Migrar?':migrar,
    'Descrição do Chamado':descham,
    'Chamado':ncham,
    'Efetivado?':efetivado,
    'Observações':observacoes}
ln = pd.DataFrame(ln)
ln

,Nome Completo,Nome,Sobrenome,UO,Matrícula,Lotação,Cargo,Email zimbra,Email Workspace,Alias Workspace,Migrar?,Descrição do Chamado,Chamado,Efetivado?,Observações
0,PALLOMA PEREIRA CAVALCANTE,PALLOMA,PEREIRA CAVALCANTE,GABINETE DO(A) JUIZ(A) AUXILIAR DA CORREGEDOR...,991021,COORDENADORIA DOS SERVIÇOS NOTARIAIS E DE REG...,,,palloma.cavalcante@tjto.jus.br,,Não,Criação de email,R54324,Não,

In [79]:
chamadosregistro = pd.concat([chamadosregistro,ln])
chamadosregistro.head()

,Nome Completo,Nome,Sobrenome,UO,Matrícula,Lotação,Cargo,Email zimbra,Email Workspace,Alias Workspace,Migrar?,Descrição do Chamado,Chamado,Efetivado?,Observações
0,PALLOMA PEREIRA CAVALCANTE,PALLOMA,PEREIRA CAVALCANTE,GABINETE DO(A) JUIZ(A) AUXILIAR DA CORREGEDOR...,991021,COORDENADORIA DOS SERVIÇOS NOTARIAIS E DE REG...,,,palloma.cavalcante@tjto.jus.br,,Não,Criação de email,R54324,Não,

In [80]:
ln.to_clipboard(index=False,header=False)

In [81]:
chamadosregistro.to_excel('chamados.xlsx',index=False)