In [115]:
import numpy as np
import pandas as pd
from unidecode import unidecode

In [116]:
userdataoriginal = pd.read_excel('userdata.xlsx')
chamadosregistro = pd.read_excel('chamados.xlsx')
emzimbra = pd.read_excel('emailszimbra.xlsx')
userdata = userdataoriginal
userdata=userdata.fillna(' ')
chamadosregistro.head(2)

,Nome Completo,Nome,Sobrenome,UO,Matrícula,Lotação,Cargo,Email zimbra,Email Workspace,Alias Workspace,Migrar?,Descrição do Chamado,Chamado,Efetivado?,Observações
0,LUDMILLA SILVA ALMEIDA,LUDMILLA,SILVA ALMEIDA,GABINETE DOS DESEMBARGADORES,352096,GABINETE DES. EURÍPEDES LAMOUNIER,ASSESSOR JURÍDICO DE DESEMBARGADOR DAJ/9,,ludmilla.almeida@tjto.jus.br,,Não,Criação de email,R54341,Não,
1,LUDMILLA SILVA ALMEIDA,LUDMILLA,SILVA ALMEIDA,GABINETE DOS DESEMBARGADORES,352096,GABINETE DES. EURÍPEDES LAMOUNIER,ASSESSOR JURÍDICO DE DESEMBARGADOR DAJ/9,,ludmilla.almeida@tjto.jus.br,,Não,Criação de email,R54341,Não,

In [117]:
userdata.head(1)

,matricula,nome,cargo,funcao,lotacao,situacao
0,98333,ABDORAL MARTINS FILHO,OFICIAL DE JUSTIÇA AVALIADOR,,1º GRAU - 1ª INSTÂNCIA - 2ª ENTRÂNCIA - COMARC...,ESTATUTÁRIO

In [118]:
emzimbra.head(2)

,Email Zimbra,Status,Criação,Último logon,Descrição,Email,Alias1,Alias2,Alias3,Alias4
0,1acamaracivelvideo@tjto.jus.br,active,2020-10-07 00:00:00,20220802163301.,1a camara civel,1acamaracivelvideo@tjto.jus.br,NaN,NaN,NaN,NaN
1,1acamaracriminal@tjto.jus.br,active,06/17/20,20220801162946.,1a camara criminal .,1acamaracriminal@tjto.jus.br,NaN,NaN,NaN,NaN

In [119]:
ncham = 'R54341'
migrar = 'Não'
descham = 'Criação de email'
matricula = 352096
efetivado = 'Não'
observacoes = ' '

In [120]:

res = userdata[userdata['matricula']==matricula]
res = res.reset_index()
res = res.drop(['index'],axis=1)
res

,matricula,nome,cargo,funcao,lotacao,situacao
0,352096,LUDMILLA SILVA ALMEIDA,,ASSESSOR JURÍDICO DE DESEMBARGADOR DAJ/9,2º GRAU - GABINETE DOS DESEMBARGADORES - GABIN...,NOMEADO EM COMISSÃO

In [121]:
nome = res['nome'][0]
nome = nome.split()
sobrenome = nome[1:]
sobrenome =  ' '.join(nome[1:])
sobrenome

'SILVA ALMEIDA'

In [122]:
empdr = nome[0]+'.'+nome[-1]+'@tjto.jus.br'
empdr = empdr.lower()
empdr = unidecode(empdr)
empdr

'ludmilla.almeida@tjto.jus.br'

In [123]:
lotacao = res['lotacao'][0]
lotacao = lotacao.split('-')
lotacao[-1]
lotacao[-2]

' GABINETE DOS DESEMBARGADORES '

In [124]:
cargo = ' '
funcao = ' '
if res['cargo'][0]!=' ': cargo =  res['cargo'][0]
if res['funcao'][0]!=' ': funcao = res['funcao'][0]
if cargo==' ' : 
    cargo = funcao
    funcao = ' '
if(cargo!=' ' and funcao!=' '): cargo = cargo+'-'+funcao
cargo

'ASSESSOR JURÍDICO DE DESEMBARGADOR  DAJ/9'

In [125]:
emzimbrares = ' '
desc = emzimbra['Descrição']
for i in range(len(desc)):
    if type(desc[i])==str:
        if res['nome'][0].lower() in desc[i].lower():
            emzimbrares = emzimbra.iloc[i]
emzimbrares

' '

In [126]:
ln = {
    'Nome Completo':res['nome'],
    'Nome':nome[0],
    'Sobrenome':sobrenome,
    'UO':lotacao[-2],
    'Matrícula':res['matricula'],
    'Lotação':lotacao[-1],
    'Cargo':cargo,
    'Email zimbra':emzimbrares[0],
    'Email Workspace':empdr,
    'Alias Workspace':emzimbrares[0],
    'Migrar?':migrar,
    'Descrição do Chamado':descham,
    'Chamado':ncham,
    'Efetivado?':efetivado,
    'Observações':observacoes}
ln = pd.DataFrame(ln)
ln

,Nome Completo,Nome,Sobrenome,UO,Matrícula,Lotação,Cargo,Email zimbra,Email Workspace,Alias Workspace,Migrar?,Descrição do Chamado,Chamado,Efetivado?,Observações
0,LUDMILLA SILVA ALMEIDA,LUDMILLA,SILVA ALMEIDA,GABINETE DOS DESEMBARGADORES,352096,GABINETE DES. EURÍPEDES LAMOUNIER,ASSESSOR JURÍDICO DE DESEMBARGADOR DAJ/9,,ludmilla.almeida@tjto.jus.br,,Não,Criação de email,R54341,Não,

In [127]:
chamadosregistro = pd.concat([chamadosregistro,ln])
chamadosregistro.head()

,Nome Completo,Nome,Sobrenome,UO,Matrícula,Lotação,Cargo,Email zimbra,Email Workspace,Alias Workspace,Migrar?,Descrição do Chamado,Chamado,Efetivado?,Observações
0,LUDMILLA SILVA ALMEIDA,LUDMILLA,SILVA ALMEIDA,GABINETE DOS DESEMBARGADORES,352096,GABINETE DES. EURÍPEDES LAMOUNIER,ASSESSOR JURÍDICO DE DESEMBARGADOR DAJ/9,,ludmilla.almeida@tjto.jus.br,,Não,Criação de email,R54341,Não,
1,LUDMILLA SILVA ALMEIDA,LUDMILLA,SILVA ALMEIDA,GABINETE DOS DESEMBARGADORES,352096,GABINETE DES. EURÍPEDES LAMOUNIER,ASSESSOR JURÍDICO DE DESEMBARGADOR DAJ/9,,ludmilla.almeida@tjto.jus.br,,Não,Criação de email,R54341,Não,
0,LUDMILLA SILVA ALMEIDA,LUDMILLA,SILVA ALMEIDA,GABINETE DOS DESEMBARGADORES,352096,GABINETE DES. EURÍPEDES LAMOUNIER,ASSESSOR JURÍDICO DE DESEMBARGADOR DAJ/9,,ludmilla.almeida@tjto.jus.br,,Não,Criação de email,R54341,Não,

In [128]:
ln.to_clipboard(index=False,header=False)

In [129]:
chamadosregistro.to_excel('chamados.xlsx',index=False)